{% extends 'pokedex/base.html' %}

{% block title %}
{{pokemon.name}}
{% endblock title %}


{% block content %}
<h1><span>{{pokemon.number}}</span> {{ pokemon.name }}</h1>
<img class="poke-img" src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}">
<section>
    {% for type in pokemon.types.all %}
        <span class="type {{type.name}}">{{ type.name }}</span>
    {% endfor %}
</section>
<section>
    <table class="poke-info">
        <tr>
            <th>Number</th>
            <td>{{ pokemon.number }}</td>
        </tr>
        <tr>
            <th>Height</th>
            <td>{{ pokemon.height }}</td>
        </tr>
        <tr>
            <th>Weight</th>
            <td>{{ pokemon.weight }}</td>
        </tr>
        <tr>
            <th>Types</th>
            <td>{% for type in pokemon.types.all %}
                <span>{{ type.name }}</span>
            {% endfor %}</td>
        </tr>
    </table>
</section>
<section>
    <table class="poke-info">
        {% for ability in pokemon.abilities.all %}
            <tr>
                <th>Ability: </th>
                <td>{{ ability.name }}: </td>
            </tr>
            
            <tr>
                <th>Effect: </th>
                <td>{{ ability.effect }}</td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock content %}