{% extends 'pokedex/base.html' %}
{% block title %}
Pokedex 
{% endblock title %}

{% block content %}
<div id="app">
    <div class="search-container" @blur="showDropdown = false">
        <input type="text" v-model="pokemon_search" @focus="showDropdown = true">
        <div v-if="showDropdown" class="search-dropdown">
            <div v-for="pokemon in filteredPokemon">
                <a :href="`pokemon/${pokemon.id}`">
                <div>
                    <img :src="pokemon.image_url" alt="">
                </div>
                <div>
                        <h3>[[ pokemon.name ]]</h3>
                    </a>
                        <div>
                            <span class="type" v-for="type in pokemon.types"> [[ type.name ]]</span>
                            <hr>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="grid-container">
        <ul v-for="pokemon in filteredPokemon">
            <a :href="`pokemon/${pokemon.id}`">
            <div>
                <img :src="pokemon.image_url" alt="">
            </div>
            <a/>
            <div>
            <h3> [[ pokemon.number ]] [[ pokemon.name ]]</h3>
        <ul/>

    </div>
</div>
{% endblock content %}
