* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: royalblue;
    height: 100vh;
  
}
nav ul{
  font-family: 'Pokemon Solid', sans-serif;

}
.poke-info{
  margin: auto;
  border-top-width: 20px;
  z-index: 10;
  display: grid;
  grid-template-columns: auto;
  border-radius: 2%;
  padding: 10px;
  justify-content: start;
}
.poke-img{
  object-fit: cover;
}


.search-container {
    position: relative;
    width: clamp(300px, 100%, 500px);
    margin: 0 auto;
    padding: 10px;
    
}

.search-container input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}
.search-container span{
  gap: 50px;
}

.grid-container{
  
  margin: auto;
  border-top-width: 20px;
  z-index: 10;
  display: grid;
  grid-template-columns: 15% 15% 15% 15%;
  border-radius: 2%;
  padding: 10px;
  justify-content: center;
}
.grid-container h3{
  color: white;
  text-decoration-line: none;
}


.search-dropdown {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 125%;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 0;
    margin: 0;
    
}

.search-item {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    
}

/* Pokemon types */
.type {
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
/* Normal */
.normal {
    color: #A8A77A;
    border: 1px solid #A8A77A;
  }
  
  /* Fire */
  .fire {
    color: #EE8130;
    border: 1px solid #EE8130;
  }
  
  /* Water */
  .water {
    color: #6390F0;
    border: 1px solid #6390F0;
  }
  
  /* Electric */
  .electric {
    color: #F7D02C;
    border: 1px solid #F7D02C;
  }
  
  /* Grass */
  .grass {
    color: #7AC74C;
    border: 1px solid #7AC74C;
  }
  
  /* Ice */
  .ice {
    color: #96D9D6;
    border: 1px solid #96D9D6;
  }
  
  /* Fighting */
  .fighting {
    color: #C22E28;
    border: 1px solid #C22E28;
  }
  
  /* Poison */
  .poison {
    color: #A33EA1;
    border: 1px solid #A33EA1;
  }
  
  /* Ground */
  .ground {
    color: #E2BF65;
    border: 1px solid #E2BF65;
  }
  
  /* Flying */
  .flying {
    color: #A98FF3;
    border: 1px solid #A98FF3;
  }
  
  /* Psychic */
  .psychic {
    color: #F95587;
    border: 1px solid #F95587;
  }
  
  /* Bug */
  .bug {
    color: #A6B91A;
    border: 1px solid #A6B91A;
  }
  
  /* Rock */
  .rock {
    color: #B6A136;
    border: 1px solid #B6A136;
  }
  
  /* Ghost */
  .ghost {
    color: #735797;
    border: 1px solid #735797;
  }
  
  /* Dragon */
  .dragon {
    color: #6F35FC;
    border: 1px solid #6F35FC;
  }
  
  /* Dark */
  .dark {
    color: #705746;
    border: 1px solid #705746;
  }
  
  /* Steel */
  .steel {
    color: #B7B7CE;
    border: 1px solid #B7B7CE;
  }
  
  /* Fairy */
  .fairy {
    color: #D685AD;
    border: 1px solid #D685AD;
  }
  